<!DOCTYPE html>
<html lang="en">

<%- include('partials/head',{
    title : 'COMPRA'
}) %>

<body>

    <%- include('partials/header') %>
      
    <main class="carrito-main">
        <button class="centrar">sumate a cine fan</button>

        <div class="contenedor-main">


            <div class="contenedor-main-tarjetas">
                <div class="centrar">
                    <h2>general</h2>
                    <div class="tarjeta">
                        <div class="contenido">
                            <h3>template de banco o promocion</h3>
                            <p>Aquí puedes agregar el contenido de la tarjeta.</p>
                        </div>
                        <div class="precio">
                            <h3>$Precio</h3>

                        </div>
                    </div>

                    <h2>promociones 2x1</h2>
                    <div class="tarjeta">
                        <div class="contenido">
                            <h3>template de banco o promocion</h3>
                            <p>Aquí puedes agregar el contenido de la tarjeta.</p>
                        </div>
                        <div class="precio">
                            <h3>$Precio</h3>

                        </div>
                    </div>
                </div>
            </div>

            <div class="main-contenedor-ticket">

                <div class="main-contenedor-ticket-contenido">

                    <div class="imagen-texto">
                        <img src="https://th.bing.com/th/id/OIP.9mHBJVah89oFtLfQ8t_iJAHaKk?w=115&h=180&c=7&r=0&o=5&pid=1.7"
                            alt="">
                        <div>
                            <h2>NOMBRE</h2>
                            <h3>idioma</h3>
                            <h2>Cine y sala</h2>

                            <h3>Fecha y hora de la peli</h3>
                        </div>
                    </div>

                    <div class="main-contenedor-ticket-contenido-precios">

                        <div class="precios">
                            <p>Subtotal</p>
                            <p>$0</p>
                        </div>

                        <div class="precios">
                            <p>Subtotal</p>
                            <p>$0</p>
                        </div>

                        <div class="precios">
                            <p>Subtotal</p>
                            <p>$0</p>
                        </div>

                        <div class="precios">
                            <p><b>Total</b></p>
                            <p>$0</p>
                        </div>

                    </div>

                </div>
                <div class="carrito-main-botones">
                    <button>VOLVER</button>
                    <button>SIGUIENTE</button>
                </div>
            </div>
           
        </div>
      
    </main>

    <%- include('partials/footer') %>



</body>

</html>