<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Cine + Cartelera</title>
</head>
<body>
    <main class="main_home">
        <div class="main_home_banner">
          <img src="/img/banner.jpg" alt="">
       </div>
        <div class=main_home_cartelera>
            <img src="img/homecoming.webp" alt="Película 1">
            <img src="/img/nowayhome.jpeg" alt="Película 2">
            <img src="/img/nuevouniverso.avif" alt="Película 3">
            <img src="/img/spiderverso.jpg" alt="Película 4">

            </div>
            <h4>Estrenos</h4>
        <div class="main_home_estrenos">
            <img src="img/homecoming.webp" alt="Película 1">
            <img src="/img/nowayhome.jpeg" alt="Película 2">
            <img src="/img/nuevouniverso.avif" alt="Película 3">
            <img src="/img/spiderverso.jpg" alt="Película 4">
            </div>
            <h4>Proximos Estrenos</h4>
            <div class="main_home_pestrenos">
            <img src="/img/nuevouniverso.avif" alt="Película 3">
            <img src="/img/spiderverso.jpg" alt="Película 4">
            <img src="/img/nuevouniverso.avif" alt="Película 3">
            <img src="/img/spiderverso.jpg" alt="Película 4">
            </div>
        </div>

    </main>
</body>
</html>