<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
      
    <main class="main_home">
        <div class="main_home_banner">
          <img src="/img/banner.jpg" alt="">
       </div>
        <div class=main_home_cartelera>
            <img src="img/homecoming.webp" alt="Película 1">
            <img src="/img/nowayhome.jpeg" alt="Película 2">
            <img src="img/homecoming.webp" alt="Película 3">
            <img src="/img/spiderverso.jpg" alt="Película 4">

            </div>
            <h4>Estrenos</h4>
        <div class="main_home_estrenos">
            <img src="img/homecoming.webp" alt="Película 1">
            <img src="/img/nowayhome.jpeg" alt="Película 2">
            <img src="img/homecoming.webp" alt="Película 3">
            <img src="/img/spiderverso.jpg" alt="Película 4">
            </div>
            <h4>Proximos Estrenos</h4>
            <div class="main_home_pestrenos">
            <img src="img/homecoming.webp" alt="Película 3">
            <img src="/img/spiderverso.jpg" alt="Película 4">
            <img src="img/homecoming.webp" alt="Película 3">
            <img src="/img/spiderverso.jpg" alt="Película 4">
            </div>
        </div>

    </main>
    <%- include('partials/footer') %>
</body>
</html>