<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e4e3620734.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Header</title>
</head>
<body>
  <header class="header">
    <div class="header-logo">
      <img src="/img/logo.png" alt="Logo">
    </div>
    <div class="header-search"> 
      <input type="text" placeholder="Buscar">
      <i class="fa-sharp fa-solid fa-magnifying-glass"></i> <!-- cambiar a link de referencia para abrir barra de busquedas -->

      
    </div>
    <div class="header-menu">
      <i class="fa-sharp fa-solid fa-magnifying-glass"></i> </div> <!-- cambiar a link de referencia para abrir barra de busquedas -->
      <span class="header-menu-label">MENU</span>
      <div class="header-menu-icon">
        <div class="menu-bar"></div>
        <div class="menu-bar"></div>
        <div class="menu-bar"></div>
      </div>
    </div>
    <a href="/user-profile" class="header-avatar"> <!-- cambiar link de referencia a futura pagina de configuracion de usuario -->
      <img src="/img/profileDefault.jpg" alt="Avatar">
    </a>
  </header>

  <main class="login-content">
    <!-- Columna de la izquierda -->
    <div class="columna-izquierda">
        <!-- Título "Ingresa a tu cuenta" -->
        <h2 class="titulo-ingreso">INGRESA A TU CUENTA</h2>

        <!-- Grupo de usuario -->
        <div class="grupo-usuario">
            <h3 class="subtitulo-usuario">USUARIO</h3>
            <!-- Formulario para el usuario -->
            <form class="formulario-usuario">
                <!-- Campos del formulario para el usuario -->
                <!-- Input para el usuario -->
                <input type="text" placeholder="Usuario" required>
            </form>
        </div>

        <!-- Grupo de contraseña -->
        <div class="grupo-contrasena">
            <h3 class="subtitulo-contrasena">CONTRASEÑA</h3>
            <!-- Formulario para la contraseña -->
            <form class="formulario-contrasena">
                <!-- Campos del formulario para la contraseña -->
                <!-- Input para la contraseña -->
                <input type="password" placeholder="Contraseña" required>
            </form>
        </div>

        <!-- Botón "INGRESAR" -->
        <button class="boton-ingresar">INGRESAR</button>

        <!-- Título "OLVIDE MI CONTRASEÑA" -->
        <h2 class="titulo-olvide">OLVIDE MI CONTRASEÑA</h2>
    </div>

    <!-- Columna del medio (Separador en vertical) -->
    <div class="columna-medio">
        <hr class="separador">
    </div>

    <!-- Columna de la derecha -->
    <div class="columna-derecha">
        <!-- Título "¿NO TENES CUENTA?" -->
        <h2 class="titulo-no-tienes">¿NO TENES CUENTA?</h2>

        <!-- Botón "CREAR CUENTA" -->
        <button class="boton-crear-cuenta">CREAR CUENTA</button>
    </div>

    <div class="publicidad">
        <a href="insertar link del mapa"><img src="/img/placeholder.png" alt="Map Image"></a>
    </div>
</main>



<footer class="footer-section" style="background-color: var(--colorGrisClaro); color: #000000;">
    <div class="footer-grid">
        <div class="footer-item footer-image">
            <a href="insertar link del mapa"><img src="/img/placeholder.png" alt="Map Image"></a>
        </div>
        <div class="footer-item footer-cartelera">
            <h3 class="footer-title1">CARTELERA</h3>
            <div class="footer-lists">
                <ul>
                    <li><a href="insertar link de estrenos"><u>ESTRENOS</u></a></li>
                    <li><a href="insertar link de ventas"><u>VENTAS</u></a></li>
                    <li><a href="insertar link de anticipadas"><u>ANTICIPADAS</u></a></li>
                    <li><a href="insertar link de peliculas 2d"><u>PELICULAS 2D</u></a></li>
                    <li><a href="insertar link de peliculas 3d"><u>PELICULAS 3D</u></a></li>
                </ul>
                <ul>
                    <li><a href="insertar link de peliculas 4d"><u>PELICULAS 4D</u></a></li>
                    <li><a href="insertar link de peliculas xd"><u>PELICULAS XD</u></a></li>
                    <li><a href="insertar link de peliculas dbox"><u>PELICULAS DBOX</u></a></li>
                    <li><a href="insertar link de premium class"><u>PREMIUM CLASS</u></a></li>
                    <li><a href="insertar link de comfort"><u>COMFORT</u></a></li>
                </ul>
            </div>
        </div>
        <div class="footer-item footer-cinema">
            <h3 class="footer-title">CINEMA</h3>
            <div class="social-icons">
                <div class="social-icon">
                    <a href="insertar link de facebook"><i class="fab fa-facebook-f"></i></a>
                </div>
                <div class="social-icon">
                    <a href="insertar link de twitter"><i class="fab fa-twitter"></i></a>
                </div>
                <div class="social-icon">
                    <a href="insertar link de instagram"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-legal" style="background-color: var(--colorGrisOscuro);">
        <p class="footer-paragraph" style="font-weight: bold;">Dirección General de Defensa y Protección al Consumidor:<br>
        Para consultas y/o denuncias haga click aquí</p>
        <button class="footer-button" style="background-color: var(--colorAmarillo); color: var(--colorNegro); font-weight: bold; border-radius: 5px;">BOTÓN DE ARREPENTIMIENTO</button>
    </div>
</footer>
</body>
</html>


