@import "./register.css";
@import "./general.css";
@import "./login.css";
@import "./carrito.css";
@import "./detalle.css";
@import "./carga.css";
@import "./home.css";
@import "./header.css";
@import "./footer.css"
